th,
td {
  text-align: left;
}

table {
  table-layout: fixed;
  width: 50%;
}

.button {
  background-color: tomato;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: 0;
}
