<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="topnav">
      <a href="/" class="button">Index page</a>
      <a href="/leaderboards" class="button">Leaderboards</a>
      <span class="nav-right">
        {% if session.username %} You are logged in as {{ session.username }}
        <a href="/profile/{{ session.username }}" class="button">My profile</a>
        <a href="/logout" class="logoutbutton">Log out</a>
        {% else %} Login or create a profile {% endif %}
      </span>
    </div>

    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
