<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/styles.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="topnav">
      <p>
        {% if session.username %} You are logged in as {{ session.username }}
        <a href="/logout" class="button">Log out</a>
        {% else %} Login or create a profile {% endif %}
        <a href="/">Index page</a>
        <a href="/leaderboards">Leaderboards</a>
      </p>
    </div>

    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
