{% extends "base.html" %} {% block title %}Login page{% endblock %} {% block content %} {% if
session.username %}
<p>Your handicap: {{ handicap }}</p>
<hr />
<form action="/search" method="get">
  <p>
    Course name: {% if query %}
    <input type="text" name="query" value="{{ query }}" />
    {% else %}
    <input type="text" name="query" />
    {% endif %}
  </p>
  <input type="submit" value="Search" />
</form>
<p>
  <a href="/add_course">Add a golf course to play rounds on</a>
</p>
<h2>Your courses</h2>
{% if courses %}
<table>
  <tr>
    <th>Course name</th>
    <th>Par</th>
    <th>Club</th>
    <th>Added by user</th>
  </tr>
  {% for c in courses %}
  <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.par }}</td>
    <td>{{ c.club_name }}</td>
    <td><a href="{{ url_for('profile', username=c.username) }}"> {{ c.username }} </a></td>
    <td>
      <div class="actions">
        <a href="/delete_course/{{ c.id }}">Delete</a>
        <a href="/edit_course/{{ c.id }}">Edit</a>
        <a href="/add_round/{{ c.id }}">Add round</a>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You have not added courses. You can add a course or play rounds on courses added by others</p>
{% endif %} {% if rounds %}
<h2>Rounds played</h2>
<table>
  <tr>
    <th>Course</th>
    <th>Date</th>
    <th>Holes</th>
    <th>Tee</th>
    <th>Strokes</th>
  </tr>
  {% for r in rounds %}
  <tr>
    <td>{{ r.course }}</td>
    <td>{{ r.played_date }}</td>
    <td>{{ r.holes }}</td>
    <td>{{ r.played_tee }}</td>
    <td>{{ r.played_strokes }}</td>
    <td>
      <a href="/delete_round/{{ r.id }}">Delete round</a>
      <a href="/edit_round/{{ r.id }}">Edit round</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No rounds played. Add a course or search for courses added by others to play a round</p>
{% endif %} {% else %}
<form action="/login" method="post">
  <p>
    <label for="username">Username:</label><br />
    <input id="username" type="text" name="username" required />
  </p>
  <p>
    <label for="password">Password:</label><br />
    <input id="password" type="password" name="password" required />
  </p>
  <input type="submit" value="Log in" />
</form>

<p>
  <a href="/register">Create a profile</a>
</p>
{% endif %} {% endblock %}
