{% extends "base.html" %} {% block title %}Profile page{% endblock %} {% block content %}

<h1>{{ username }}</h1>
{% if own_profile %}
<details>
  <summary>Update profile</summary>
  <form action="/update_profile" method="post">
    <p>
      <label for="club">Your golf club</label><br />
      <input id="club" type="text" name="club" value="{{ club }}" />
    </p>

    <p>
      <label for="favorite_course">Your favorite course</label><br />
      <input
        id="favorite_course"
        type="text"
        name="favorite_course"
        value="{{ favorite_course }}" />
    </p>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit">Save</button>
  </form>
</details>
{% else %}
<p><strong>Home club:</strong> {{ club }}</p>
<p><strong>Favorite course:</strong> {{ favorite_course }}</p>
<p><strong>Handicap:</strong> {{ handicap }}</p>
{% endif %}

<h1>Latest played rounds</h1>

{% if rounds %}
<h2>Rounds played</h2>
<table>
  <tr>
    <th>Course</th>
    <th>Date</th>
    <th>Holes</th>
    <th>Tee</th>
    <th>Strokes</th>
  </tr>
  {% for r in rounds %}
  <tr>
    <td>{{ r.name }}</td>
    <td>{{ r.played_date }}</td>
    <td>{{ r.holes }}</td>
    <td>{{ r.played_tee }}</td>
    <td>{{ r.played_strokes }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No rounds played.</p>
{% endif %} {% endblock %}
