{% extends "base.html" %} {% block title %}Search results{% endblock %} {% block content %} {% if
query %}
<form action="/search" method="get">
  <p>
    Course name: {% if query %}
    <input type="text" name="query" value="{{ query }}" />
    {% else %}
    <input type="text" name="query" />
    {% endif %}
  </p>
  <input type="submit" value="Search" />
</form>
<hr />
<h2>Search results</h2>
<table>
  <tr>
    <th>Course name</th>
    <th>Par</th>
    <th>Club</th>
    <th>Added by user</th>
  </tr>
  {% for r in results %}
  <tr>
    <td>{{ r.name }}</td>
    <td>{{ r.par }}</td>
    <td>{{ r.club_name }}</td>
    <td><a href="{{ url_for('profile', username=r.username) }}"> {{ r.username }} </a></td>
    <td>
      <div class="actions">
        <a href="/delete_course/{{ r.id }}">Delete</a>
        <a href="/edit_course/{{ r.id }}">Edit</a>
        <a href="/add_round/{{ r.id }}">Add round</a>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %} {% endblock %}
